<div class="row">
  <div class="col-md-12">
    <h1>Properties</h1>

    <div class="form-group">
      <label for="bedroomSelect" class="col-sm-2 col-form-label">Bedrooms</label>

      <select id="bedroomSelect" class="form-control col-md-6" (change)="search()" [(ngModel)]="selectedBedrooms">
        <option *ngFor="let option of bedroomOptions" [value]="option.value">{{option.text}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="bathroomSelect" class="col-sm-2 col-form-label">Bathrooms</label>

      <select id="bathroomSelect" class="form-control col-md-6" (change)="search()" [(ngModel)]="selectedBathrooms">
        <option *ngFor="let option of bathroomOptions" [value]="option.value">{{option.text}}</option>
      </select>
    </div>

    <div class="row">
      <div class="list-group col-md-6" *ngIf="properties && properties.length">
        <a *ngFor="let property of properties" (click)="goToProperty(property.id)" class="list-group-item list-group-item-action">
          {{property.numberOfBedrooms}} bedrooms in {{property.address.city}} ({{property.address.line1}})
        </a>
      </div>
    </div>
  </div>
</div>
