extends layout

block content
  app-root
  script(type="text/javascript", src="js/app/runtime.js")
  script(type="text/javascript", src="js/app/polyfills.js")
  script(type="text/javascript", src="js/app/styles.js")
  script(type="text/javascript", src="js/app/vendor.js")
  script(type="text/javascript", src="js/app/main.js")