doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/js/dependencies.js")
    base(href="/")
  body
    .container
      block content

