<div class="row">
  <div class="col-md-12">
    <h1>Property Details</h1>

    <form *ngIf="property">
      <div class="form-group row">
        <label for="inputOwner" class="col-sm-2 col-form-label">Owner</label>
        <div class="col-sm-6">
          <input [(ngModel)]="property.owner" id="inputOwner" name="owner" type="text" class="form-control" placeholder="...owner" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputAirbnbId" class="col-sm-2 col-form-label">AirBnB Id</label>
        <div class="col-sm-6">
          <input [(ngModel)]="property.airbnbId" id="inputAirbnbId" name="airbnbid" type="text" class="form-control" placeholder="...airbnb id" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputAddressLine1" class="col-sm-2 col-form-label">Address line 1</label>
        <div class="col-sm-6">
          <input [(ngModel)]="property.address.line1" id="inputAddressLine1" name="addressLine1" type="text" class="form-control" placeholder="...address line 1" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputAddressLine2" class="col-sm-2 col-form-label">Address line 2</label>
        <div class="col-sm-6">
          <input [(ngModel)]="property.address.line2" id="inputAddressLine2" name="addressLine2" type="text" class="form-control" placeholder="...address line 2" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputAddressLine3" class="col-sm-2 col-form-label">Address line 3</label>
        <div class="col-sm-6">
          <input [(ngModel)]="property.address.line3" id="inputAddressLine3" name="addressLine3" type="text" class="form-control" placeholder="...address line 3" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputAddressLine4" class="col-sm-2 col-form-label">Address line 4</label>
        <div class="col-sm-6">
          <input [(ngModel)]="property.address.line4" id="inputAddressLine4" name="addressLine4" type="text" class="form-control" placeholder="...address line 4" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputAddressPostCode" class="col-sm-2 col-form-label">Post Code</label>
        <div class="col-sm-6">
          <input [(ngModel)]="property.address.postCode" id="inputAddressPostCode" name="addressPostCode" type="text" class="form-control" placeholder="...post code" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputAddressCity" class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-6">
          <input [(ngModel)]="property.address.city" id="inputAddressCity" name="addressCity" type="text" class="form-control" placeholder="...city" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputAddressCountry" class="col-sm-2 col-form-label">Country</label>
        <div class="col-sm-6">
          <input [(ngModel)]="property.address.country" id="inputAddressCountry" name="addressCountry" type="text" class="form-control" placeholder="...country" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputNumberOfBedrooms" class="col-sm-2 col-form-label">Number of Bedrooms</label>
        <div class="col-sm-6">
          <input [(ngModel)]="property.numberOfBedrooms" id="inputNumberOfBedrooms" name="numberOfBedrooms" type="text" class="form-control" placeholder="...bedrooms" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputNumberOfBathrooms" class="col-sm-2 col-form-label">Number of Bathrooms</label>
        <div class="col-sm-6">
          <input [(ngModel)]="property.numberOfBathrooms" id="inputNumberOfBathrooms" name="numberOfBathrooms" type="text" class="form-control" placeholder="...bathrooms" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputIncomeGenerated" class="col-sm-2 col-form-label">Income Generated</label>
        <div class="col-sm-6">
          <input [(ngModel)]="property.incomeGenerated" id="inputIncomeGenerated" name="incomeGenerated" type="text" class="form-control" placeholder="...income generated" required>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" (click)="update()">Update</button>
        </div>
      </div>
    </form>

    <div class="alert alert-success" role="alert" *ngIf="feedback && feedback.length">
      <p>{{feedback}}</p>
    </div>

  </div>
</div>
