<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Property Manager</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" [ngClass]="setActiveClass('/app/properties')">
        <a class="nav-link" (click)="goTo('/app/properties')">Properties</a>
      </li>

      <li class="nav-item" [ngClass]="setActiveClass('/app/create')">
        <a class="nav-link" (click)="goTo('/app/create')">Create</a>
      </li>

    </ul>
  </div>
</nav>
